*{
    margin: 0px;
    padding: 0px;
}

/* center box and header */
.center-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #00107d;
}

.center-item {
    background-color: #ffe3bb;
    width: 100px;
    height: 100px;  
}

#header {
    display: flex;
    height: 120px;
    align-items: center;
    background-color: #4a99e8;
    justify-content: space-between;
}

#header li a {
    justify-content: space-around;
    flex-direction: row;
    color: 	#fffefd;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}  

#header > ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    flex-direction: row;
    flex-grow: 8;
}

#header img {
    height: 80px;    
}

h1 {
    color: #fffefd;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    flex-grow: 1;
}